.card {
  width: 600px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
  padding: 0;
  .image {
    width: 100%;
    img {
      border-radius: 10px 10px 0 0;
    }
  }

  .content {
    padding: 1.5em;
    text-align: left;
    color: black;
  }

  button {
    margin: 1.5em;
  }
}